<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152223737-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-152223737-1');
    </script>

    <!--Adsense-->
    <script data-ad-client="ca-pub-7369887242150230" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="header">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"><i class="fas fa-bars"></i></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/"><i class="fas fa-home"></i></a>
                <a href="/tos"><i class="fas fa-scroll"></i></a>
                <a href="/pp"><i class="fas fa-user-lock"></i></a>
            </div>
        </div>
        <a class="logo">
            <img class="logo-image" src="https://doneloadie.com/themes/default/img/logo.png">
        </a>
    </div>
    </div>

    <div class="page">
        <div class="pp-container">
            <h1>Privacy Policy</h1>
            <div class="ppmessage">
                <p>
                    Privacy Policy What information do we collect and store? We do not ask or store any type of user
                    information We use cookies? We use cookies eventually but on SSL secure protocol. Sell ??or deliver
                    information to third parties? We do not sell or negotiate or transfer your personal identification
                    to third parties. It does not include business partners that intervene in the operation of the
                    website, or serve you, since these third parties have agreed to keep this information confidential.
                    We will release your information when we believe it is appropriate to abide by the law, strengthen
                    our policies, or protect our and others rights, property, or safety. However, visitor information is
                    never provided to third parties for marketing, advertising or other uses. Privacy Policies only on
                    the Internet These privacy policies apply only to the information collected on our website. Your
                    consent By browsing and using the services of our website, you adhere to our privacy policy. Changes
                    to our Privacy Policies If we make changes to our privacy policies, we will update those changes on
                    this page.
                </p>
            </div>
        </div>
    </div>

    <script src="./javascripts/dropdown.js"></script>
</body>

</html>