<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152223737-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-152223737-1');
    </script>

    <!--Adsense-->
    <script data-ad-client="ca-pub-7369887242150230" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="header">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"><i class="fas fa-bars"></i></button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/"><i class="fas fa-home"></i></a>
                <a href="/tos"><i class="fas fa-scroll"></i></a>
                <a href="/pp"><i class="fas fa-user-lock"></i></a>
            </div>
        </div>
        <a class="logo">
            <img class="logo-image" src="https://doneloadie.com/themes/default/img/logo.png">
        </a>
    </div>

    <div class="page">
        <div class="pp-container">
            <h1>Terms of Use</h1>
            <div class="ppmessage">
                <p>
                    1. Terms By accessing Doneloadie hereinafter referred to as a website, you agree to comply with
                    these Terms and Conditions of Website Use, all applicable laws and regulations and agree that you
                    are responsible for compliance with applicable local laws. If you do not agree with any of these
                    terms, it is prohibited to use or access this site. The materials contained on this site are
                    protected by the applicable laws of copyright and trademarks.2. Use License Permission is granted
                    to temporarily download a copy of the materials (information or software) on the website for
                    personal and non-commercial use. This is the granting of a license, not a transfer of title, and
                    under this license you can not: modify or copy the material; use the material for any commercial
                    purpose, or to show to the public (commercial or non-commercial); attempt to modify or reverse
                    engineer the system included in the website; remove any copyright information or notes from the
                    owner on the materials; or transfer the material to another person or "copy" the material to another
                    server. This license will terminate automatically if you violate any of these restrictions and may
                    be terminated by the website at any time. Upon completion of the viewing of these materials or upon
                    completion of this license, you must destroy any downloaded material in your possession, either in
                    electronic or printed format. 3. Exemption from Liability A.The materials on the website are
                    provided "as is". The website makes no warranties, express or implied, and hereby denies and denies
                    all other warranties, including, without limitation, implied warranties or conditions of
                    merchantability, fitness for a particular purpose, intellectual property infringement or other
                    breach of rights. In addition, the website does not guarantee or make any representation with
                    respect to the accuracy, probable results or reliability of the use of the materials on its Internet
                    website or otherwise related to such materials or any site linked to this site. . B.We do not
                    exercise or promote the infringement of copyright. All videos on YouTube are the copyright of their
                    respective owners and any copyright infringement resulting from their transfer to other websites
                    such as Facebook, will be the responsibility of the user who performs such action. We also do not
                    store videos or other material on our servers, the links are cached and after 3 hours they are
                    destroyed, even if the users have not made the download. 4. Limitations In no case shall the website
                    or its suppliers be liable for any damages (including, without limitation, damages for loss of data
                    or profits, or due to business interruption) arising from the use or inability to use the materials,
                    even if the Website or an authorized representative of the website has been notified orally or in
                    writing of the possibility of such damage. Because some jurisdictions do not allow limitations on
                    implied warranties, or limitations of liability for consequential or incidental damages, these
                    limitations may not apply to you. 5. Reviews and Errata The materials that appear on the website may
                    include technical, typographical or photographic errors. The website does not guarantee that any of
                    the materials on its website are accurate, complete or current. The website may make changes to the
                    materials contained on its website at any time without prior notice. The website does not commit,
                    however, to update the materials. 6. Links The website has not reviewed all the sites linked to its
                    Internet website and is not responsible for the contents of such linked sites. The inclusion of any
                    link does not imply endorsement by the website. The use of any linked website is at the risk of the
                    user. 7. Modifications to the Conditions of use of the Site The website may revise these terms of
                    use at any time without prior notice. By using this website, you are agreeing to be bound by the
                    current version of these Terms and Conditions of Use. 8. Law that governs us Any claim related to
                    the website will be governed by the laws of the EU without regard to its conflict of laws
                    provisions. General terms and conditions applicable to the use of a website.
                </p>
            </div>
        </div>
    </div>

    <script src="./javascripts/dropdown.js"></script>
</body>

</html>